.btnRps{
    border: none;
    cursor:pointer;
    height: 100px;
    width: 100px;
}
#btnRock{
    background: url(../images/rock.jpg) no-repeat;
    background-size: 100px 100px;
}
#btnPaper{
    background: url(../images/paper.jpg) no-repeat;
    background-size: 100px 100px;
}
#btnScissors{
    background: url(../images/scissors.png) no-repeat;
    background-size: 100px 100px;
}
#selectedList div, #waitList div{
    display: inline-block;
    margin: 10px;
}
#chat {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    max-height: 100px;
    overflow: auto;
    padding: 4px;
    resize: both;
    min-height: 28px;
}